<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>忘记密码</title>

    <link href="__admin__/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="__admin__/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="__admin__/css/weather-icons.min.css" rel="stylesheet"/>
    <link id="beyond-link" href="__admin__/css/beyond.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="login-container">
    <div class="loginbox bg-white">
        <div class="loginbox-title">忘记密码？</div>

        <div class="loginbox-or">
            <div class="or-line"></div>
        </div>
        <form id="fo">
            <div class="loginbox-textbox">
                <input type="text" class="form-control" id="email" name="email" placeholder="邮箱"/>
            </div>
            <div class="loginbox-textbox hidden">
                <input type="password" class="form-control" id="code" name="code" placeholder="验证码"/>
            </div>
            <div class="loginbox-textbox hidden">
                <input type="password" class="form-control" id="password" name="password" placeholder="密码"/>
            </div>
            <div class="loginbox-textbox hidden">
                <input type="password" class="form-control" id="conpass" name="conpass" placeholder="确认密码"/>
            </div>

            <div class="loginbox-submit">
                <button type="submit" class="btn btn-primary btn-block" id="getcode">获取验证码</button>
            </div>
            <div class="loginbox-submit hidden">
                <button type="submit" class="btn btn-primary btn-block" id="reset">重置密码</button>
            </div>
            <div class="loginbox-submit hidden">
                <button type="submit" class="btn btn-primary btn-block" id="ensure">确定</button>
            </div>


            <div class="loginbox-signup">
                <a href="{:url('admin/index/login')}">返回登录</a>
            </div>
        </form>
    </div>

</div>

<script src="__admin__/js/skins.min.js"></script>
<!--Basic Scripts-->
<script src="__admin__/js/jquery.min.js"></script>
<script src="__admin__/js/bootstrap.min.js"></script>
<script src="__admin__/js/slimscroll/jquery.slimscroll.min.js"></script>
<!--Beyond Scripts-->
<script src="__admin__/js/beyond.js"></script>
<script src="__static__/lib/layer/layer.js"></script>
<script>
    $(function () {
        $('#getcode').click(function () {
            $.ajax({
                url: "{:url('admin/index/forget')}",
                type: 'post',
                data: $('form').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.code == 1) {
                        $('[name=email]').parent().addClass('hidden');
                        $('#getcode').parent().addClass('hidden');
                        $('#code').parent().removeClass('hidden');
                        $('#reset').parent().removeClass('hidden');

                    } else {
                        layer.open({
                            title: '邮箱错误',
                            content: data.msg,
                            icon: 5,
                            anim: 6
                        });

                    }
                }
            });
            return false;
        });

        //
        // $('#reset').click(function () {
        //     $.ajax({
        //         url: "{:url('admin/index/codein')}",
        //         type: 'post',
        //         data: $('form').serialize(),
        //         dataType: 'json',
        //         success:function (data) {
        //             if (data.code == 1) {
        //                 $('[name=email]').parent().removeClass('hidden');
        //                 $('#getcode').parent().removeClass('hidden');
        //                 $('#password').parent().removeClass('hidden');
        //                 $('#conpass').parent().removeClass('hidden');
        //                 $('#ensure').parent().removeClass('hidden');
        //             } else {
        //                 layer.open({
        //                     title: '验证错误',
        //                     content: data.msg,
        //                     icon: 5,
        //                     anim: 6
        //                 });
        //             }
        //
        //         }
        //     })
        //     return false;
        //
        // })
    });


    $(window).bind("load", function () {

        /*Sets Themed Colors Based on Themes*/
        themeprimary = getThemeColorFromCss('themeprimary');
        themesecondary = getThemeColorFromCss('themesecondary');
        themethirdcolor = getThemeColorFromCss('themethirdcolor');
        themefourthcolor = getThemeColorFromCss('themefourthcolor');
        themefifthcolor = getThemeColorFromCss('themefifthcolor');

    });


</script>
</body>
<!--  /Body -->
</html>
